// COLOR
$primary-color              : #4BCCE0;
$secondary-color            : #4BCCE0;
$col-blue                   : #1D5A8B;
$col-purple                 : #774BBC;
$col-green                  : #ECFB86;
$col-white                  : #ffffff;
$txt-base                   : #45545b;
$title-sec                  : #1D5A8B;
$col-blue-2                 : #3A88C9;



// TEXTCOLOR
$txt-col-primary            : $primary-color;
$txt-col-green              : #5B622B;
$txt-col-1                  : #45545b;
$txt-placeholder            : #c1c3c4;